@use "../utils/variable" as *;
@use "../utils/mixins" as *;


.img-content {
    margin: 10px;
    border: 4px solid;
    border-right: none;
    border-bottom: none;
   img {
    width: 50%;
    border-bottom-right-radius: $radius-10;
   }
}

main {
    grid-area: main;
    width: 90%;
    #about {
        margin: 12px;
    }
    .about-info {
        @include card;
    }
    #projects {
        margin: 12px;
        margin-top: 60px;
    }
    .projects-info {
        @include card;
    }
}